{% extends 'base.html.twig' %}

{% block title %}
    Exercice 7
{% endblock %}

{% block body %}
    <h1>[Série 07] Etape 4</h1>

    <table>
        {% for etudiant in tab %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.section.nom }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}