<!doctype html>
<html>
<head>
    <title>Page d'index</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <script type="text/javascript" src="/js/exemple.js"></script>
</head>
<body onload="afficher_message()">
    <h1>Hello world!</h1>
    <p>Ceci et un test</p>
    <p>Ceci et un test</p>
    <p>Ceci et un test</p>
    <p>Coucou</p>
<img src="/img/chien.jpg" />
</body>
</html>