<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <p>Menu de navigation</p>
        {% block body %}{% endblock %}
    </body>
</html>
